<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <h1> الطلاب</h1>
    <div>
        @RenderBody()
    </div>
    <h2> نهاية قسم الطلاب</h2>
    <div>

        @RenderSection("TodayDate", true)
    </div>
</body>
</html>
